.navbar{
  background:#F97300;
 }

.nav-link , .navbar-brand{ 
 color: #f4f4f4; cursor: pointer;
}

.nav-link{ 
 margin-right: 1em !important;
 color: #fff !important;
}


#loginModal .modal-header {
 background-color: #F97300;
 color: #ffff; }

